<div style="background-color: #47F3D0 !important; padding: 20px">
  <div style="display: flex; justify-content: flex-end">
    <button mat-icon-button (click)="close()" style="cursor: pointer">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 style="font-weight: 700">Notifications</h2>
  <ul style="list-style-type: none; padding: 0">
    @if(notifications().length == 0) {
    <p style="text-align: center; font-weight: 500">
      There is No Notifications Currently to display🙂
    </p>
    } @for (notification of notifications(); track $index) {
    <li
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      "
    >
      <div style="display: flex; gap: 5px">
        <span style="font-weight: 500;">{{
          notification.split(":")[0]
        }}</span>
        <span>{{ notification.split(":")[1] }}</span>
      </div>
      <div style="display: flex; gap: 10px">
        <button mat-icon-button color="primary">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteNotification($index)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
    }
  </ul>

</div>
