.blurred-backdrop .cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(55px);
  }
  :host {
    display: block;
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    color: #333; /* Darker color for the title */
    margin-bottom: 15px; 
  }
  
  ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  li {
    padding: 10px; 
    border-bottom: 1px solid #ddd; 
  }
  
  li:last-child {
    border-bottom: none; 
  }
  
  button {
    margin-right: 10px; 
  }
  
  button mat-icon {
    font-size: 18px; 
  }

.mat-dialog-container {
    padding: 20px; 
  }
  
  
  