<div
  style="
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(257deg, #47f3d0 0%, #278ef1 52%, #cb5edc 100%);
    animation: backgroundAnimation 5s ease-in-out infinite alternate;
    overflow: hidden;
  "
>
  <div
    style="
      display: flex;
      flex: 1;
      background: linear-gradient(
        257deg,
        #47f3d0 0%,
        #278ef1 52%,
        #cb5edc 100%
      );
    "
  >
    <div
      style="
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px; /* Reduce padding */
        padding-left: 30px; /* Reduce padding */
        color: white;
      "
    >
      <h1
        style="
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 10px; /* Adjust margin */
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
        "
      >
        Indium App Store
      </h1>
      <p
        style="
          font-size: 16px;
          color: #e0e0e0;
          font-family: 'Open Sans', sans-serif;
          max-width: 500px;
        "
      >
        All at one place for our organization (Made for us and made by us...)
      </p>

      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          margin-right: 60px;
          border-radius: 15px;
          box-shadow: inset;
        "
      >
        <img
          src="../../assets/login.jpg"
          style="
            width: 400px;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          "
          alt="App Store Image"
        />
      </div>
    </div>
    <div
      style="
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #f9f7f7;
        animation: fadeIn 2s ease-in;
        padding: 20px; /* Add padding */
      "
    >
      <div style="display: flex; justify-content: flex-end; padding: 10px">
        <img
          src="../../assets/logo.png"
          style="width: 110px; height: 45px"
          alt="Logo"
        />
      </div>
      <div
        style="
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="login-box"
          style="
            width: 350px;
            text-align: center;
            background:white;
            backdrop-filter: blur(10px);
            padding: 30px; /* Adjust padding */
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
            border: 1px solid black;
          "
          onmouseover="this.style.transform='translateY(-10px)'; this.style.boxShadow='0 12px 24px rgba(0, 0, 0, 0.3)'"
          onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 8px 20px rgba(0, 0, 0, 0.2)'"
        >
          <h2 style="font-size: 24px; margin-bottom: 20px; color: black">
            Sign In
          </h2>
          <p style="font-size: 14px; color: black; margin-bottom: 20px">
            Sign in to see and use all the applications that are internally
            managed and used by our organization.
          </p>
          <button
            mat-button
            style="
              width: 100%;
              background-color: #0078d4;
              color: white;
              font-weight: bolder;
              padding: 10px;
              cursor: pointer;
              border: 1px solid black;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: background-color 0.3s, transform 0.3s;
            "
            onmouseover="this.style.backgroundColor='#005fa3'; this.style.transform='scale(1.05)'"
            onmouseout="this.style.backgroundColor='#0078d4'; this.style.transform='scale(1)'"
            (click)="login()"
          >
            <img
              src="../../assets/microsoft-icon.png"
              alt="Microsoft Logo"
              style="width: 24px; margin-right: 10px; border: black"
            />
            Sign in with Microsoft
        </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-toolbar
    color="primary"
    style="justify-content: flex-end; height: 30px; padding: 0 16px"
  >
    <span style="font-size: 14px; color: white">
      &copy; {{ currentYear }} Indium Software. All rights reserved.
    </span>
  </mat-toolbar> -->
</div>
