<div style="background-color: cornflowerblue !important;padding: 20px;max-height: 80vh;overflow-y: auto;">
<div style="padding: 16px; margin: 16px; width: 80%; padding: 20px;background-color: cornflowerblue !important;margin: auto;">
    <div style="display: flex; justify-content: flex-end;">
        <button mat-icon-button (click)="close()" style="cursor: pointer;">
          <mat-icon>close</mat-icon>
        </button>
      </div>
  <h2 style="text-align: center; white-space: nowrap">
    Granting Access for a Application🛡️
  </h2>

  <mat-form-field appearance="fill" style="width: 100%" >
    <mat-label>Select an Application</mat-label>
    <mat-select
      [formControl]="form.controls.departmentAccess"
      multiple
      (selectionChange)="onApplicationsChange($event)"
      style="width: 100%"
    >
      @for (title of applicationTitles(); track title) {
      <mat-option
        [value]="title"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        {{ title }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-chip-listbox>
    @for (app of selectedApplications; track app) {
    <mat-chip-option (removed)="removeApplication(app)">
      {{ app }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    }
  </mat-chip-listbox>

  <mat-form-field appearance="fill" style="width: 100%; margin-top: 16px">
    <mat-label>Select Department</mat-label>
    <mat-select
      [formControl]="form.controls.departmentAccess"
      multiple
      (selectionChange)="onDepartmentsChange($event)"
      style="width: 100%"
    >
      @for (department of departments; track department) {
      <mat-option
        [value]="department"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        {{ department }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-chip-listbox>
    @for (dept of selectedDepartments; track dept) {
    <mat-chip-option (removed)="removeDepartment(dept)">
      {{ dept }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    }
  </mat-chip-listbox>
  <div style="margin-bottom: 9px">
    <label
      for="accessMailId"
      style="display: block; margin-bottom: 5px; font-weight: 400;"
      >Mail of the Resource to be given Acess</label
    >
    <input
      id="accessMailId"
      type="email"
      formControlName="accessMailId"
      style="
        width: 97%;
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
        height: 35px;
        background-color: #687ae8;
        color: black;
      "
    />
  </div>
  <div style="margin-bottom: 9px">
    <label
      for="accessPersonName"
      style="display: block; margin-bottom: 5px; font-weight: 400;"
      >Resource Name</label
    >
    <input
      id="accessPersonName"
      type="text"
      formControlName="accessPersonName"
      style="
        width: 97%;
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
        height: 35px;
        background-color: #687ae8;
        color:black

      "
    />
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      margin-top: 30px;
    "
  >
    <button
      type="submit"
      style="
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #538392;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        border: 2px solid black;
        cursor: pointer;
      "
    >
      Add Application
    </button>
    <button
      mat-raised-button
      (click)="close()"
      color="accent"
      style="
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #538392;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 20px;
        border: 2px solid black;
        cursor: pointer;
      "
    >
      Close
    </button>
  </div>
</div>
</div>
