<body>
  <div class="menu-btn">
    <i class="bi bi-list"></i>
  </div>

  <div class="container">
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div style="display: flex; align-items: center; gap: 10px">
          <div class="logo">
            <img src="../../assets/IndiumLogo.png" alt="Indium Logo" />
          </div>

          <button
            mat-flat-button
            color="accent"
            style="display: flex; align-items: center; gap: 8px"
            matTooltip="Click here to see notifications"
            (click)="toggleModal()"
          >
            <mat-icon>notifications</mat-icon>
            <span>Notifications</span>
          </button>
          <button
            mat-flat-button
            color="accent"
            style="display: flex; align-items: center; gap: 8px"
            matTooltip="Click here to add a new project"
            (click)="toggleApplicationModal()"
          >
            <mat-icon>group_add</mat-icon>
            <span>Add Application</span>
          </button>
          <button
            mat-flat-button
            color="accent"
            style="display: flex; align-items: center; gap: 8px"
            matTooltip="Click here to grant access to a application"
            (click)="toggleAccessModal()"
          >
            <mat-icon>shield_check</mat-icon>
            <span>Grant Access</span>
          </button>
        </div>

        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
          "
        >
          <p
            style="
              text-align: center;
              margin: 0;
              padding: 0;
              margin-right: 25px;
              font-size: 13px;
              font-style: italic;
              font-weight: 600;
            "
          >
            Hello, {{ getDisplayName() }}! Welcome to the Indium App Store.
          </p>

          <button
            mat-flat-button
            (click)="logout()"
            style="
              background-color: #10375c;
              color: #f3f3e0;
              width: 90px;
              height: auto;
              cursor: pointer;
              padding: 10px;
              border-radius: 20px;
            "
          >
            Logout
          </button>
        </div>
      </nav>
    </div>

    <swiper-container
      navigation="true"
      loop="true"
      [autoplay]="{ delay: 3000, disableOnInteraction: false }"
      [speed]="700"
    >
      @for(slide of slides(); track slide.title) {
      <swiper-slide>
        <div class="showcase">
          <div class="showcase-content">
            <h1 style="font-weight: 600">{{ slide.title }}</h1>
            <h1 style="font-weight: 500">{{ slide.stream }}</h1>
            <p style="font-weight: 500">{{ slide.desc }}</p>
          </div>
          <div>
            <img
              [src]="slide.img"
              alt="Showcase Image"
              class="showcase-image"
            />
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>

    <div style="display: flex; justify-content: center; margin: 20px 0">
      <mat-form-field appearance="outline" class="custom-search">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchApps()"
          placeholder="Search applications..."
          style="padding-left: 15px; color: black"
        />
      </mat-form-field>
    </div>

    @if(isLoading()) {
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        "
      >
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else if(filteredItems().length === 0) {
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          margin-top: 20px;
        "
      >
        <p>No applications matching🙂🙂</p>
      </div>
    }
    <section id="cards1" class="cards1">
      @for (item of filteredItems(); track item.title) {
        <div class="box" style="background-color: #eafaff; padding: 10px">
          <img
            [src]="item.image"
            [alt]="item.title"
            style="border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 1.2)"
          />
          <h3 style="font-weight: 700">{{ item.title }}</h3>
          <h3 style="font-weight: 300; font-size: 8;">
            <span style="font-weight: 500">Department:</span>{{ item.department }}
          </h3>
          <p>{{ item.description }}</p>
          <a [href]="item.link" target="_blank" class="btn">
            <div style="display: flex; gap: 10px">
              <button
                mat-raised-button
                color="warn"
                style="
                  height: auto;
                  width: auto;
                  margin: 20px 0;
                  padding: 10px;
                  border-radius: 7px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <p style="font-size: 11px; margin: 0; padding: 0">
                  Navigate to App
                </p>
              </button>
              <button
                mat-raised-button
                color="warn"
                style="
                  height: auto;
                  width: auto;
                  margin: 20px 0;
                  padding: 10px;
                  border-radius: 7px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <p style="font-size: 11px; margin: 0; padding: 0">
                  Request Access
                </p>
              </button>
            </div>
          </a>
        </div>
      }
    </section>
        <!-- Notification Modal -->
    <ng-template matDialogContainer>
      <app-notifications-dialog></app-notifications-dialog>
    </ng-template>
  </div>
  <mat-toolbar
    color="primary"
    style="justify-content: flex-end; height: 30px; padding: 0 16px"
  >
    <span style="font-size: 14px; color: white">
      &copy; {{ currentYear }} Indium Software. All rights reserved.
    </span>
  </mat-toolbar>
</body>
