<body>
  <div class="menu-btn">
    <i class="bi bi-list"></i>
  </div>

  <div class="container">
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="logo">
          <img src="../../assets/IndiumLogo.png" alt="" />
        </div>
        <ul class="main-menu">
          <li><a href="#">Notifications</a></li>
          <!-- <li><a href="#">Windows</a></li>
          <li><a href="#">Surface</a></li>
          <li><a href="#">Xbox</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Support</a></li> -->
        </ul>
        <ul class="right-menu">
          <li>
            <a href="#"><i class="bi bi-search"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-cart3"></i></a>
          </li>
        </ul>
      </nav>
    </div>

    <section class="showcase">
      <div class="showcase-content">
        <h1>An AI-Driven Digital Engineering Company</h1>
        <h1>Engineering +AI</h1>
        <p>
          Indium is a fast-growing, AI-driven digital engineering services
          company, developing cutting-edge solutions across applications and
          data.
        </p>
        <!-- <a href="" class="btn">
      <span>See if your pc is ready</span>
      <i class="bi bi-chevron-right"></i>
     </a> -->
      </div>
      <div>
        <img
          src="../../assets/AppStoreLogo.png"
          alt="Showcase Image"
          class="showcase-image"
        />
      </div>
    </section>

    <section id="cards1" class="cards1">
      <div class="box">
        <img src="../../assets/Tuzo.png" alt="" />
        <h3>Tuzo</h3>
        <p>
          See how Katie Sowers, Asst. Coach for the 49ers, uses Surface Pro 7 to
          put her plans into play.
        </p>
        <a href="https://indiumsoftware.tuzo.in/" target="_blank" class="btn"
          ><span> CLICK HERE</span><i class="bi bi-chevron-right"></i
        ></a>
      </div>
      <div class="box">
        <img src="../../assets/IndiumLogo.png" alt="" />
        <h3>Cloud Cost Optimizer</h3>
        <p>
          Express yourself powerfully with a thin, light, and elegant design,
          faster performance, and up to 11.5 hours battery life.
        </p>
        <a href="" class="btn"
          ><span> CLICK HERE</span><i class="bi bi-chevron-right"></i
        ></a>
      </div>
      <div class="box">
        <img src="../../assets/ixieLogo.jpg" alt="" />
        <h3>iXie Gaming Application</h3>
        <p>
          Buy an Xbox One X console and double your fun with a free select extra
          controller. Starting at $349.
        </p>
        <a href="" class="btn"
          ><span> CLICK HERE</span><i class="bi bi-chevron-right"></i
        ></a>
      </div>
      <div class="box">
        <img src="https://i.ibb.co/G57P0Pb/card4.png" alt="" />
        <h3>Indium Web</h3>
        <p>
          Expect more. World class performance, with more privacy, more
          productivity, and more value.
        </p>
        <a href="" class="btn"
          ><span> CLICK HERE</span><i class="bi bi-chevron-right"></i
        ></a>
      </div>
    </section>
    <!-- 
    <section id="service" class="service">
      <h1>Indium App Store for iOS and Android</h1>
      <p>Connect. Organise. Get things done.</p>
      <button class="btn">
        <span> Download Now</span><i class="bi bi-chevron-right"></i>
      </button>
    </section> -->

    <section id="business" class="business">
      <h2>For Mobile</h2>
      <div class="business-flex">
        <div class="box">
          <img src="https://i.postimg.cc/jSGyy7WK/bn4.png" alt="" />
          <h3>Indium Mobile application</h3>
          <p>
            Online meetings, chat and shared cloud storage - all in one place.
          </p>
          <a href="">Sign up for free<i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="box">
          <img src="https://i.postimg.cc/tC6qYnHF/bn2.png" alt="" />
          <h3>Indium Mobile application</h3>
          <p>
            Online meetings, chat and shared cloud storage - all in one place.
          </p>
          <a href="">Sign up for free<i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="box">
          <img src="https://i.postimg.cc/9QVD2YqD/bn3.png" alt="" />
          <h3>Indium Mobile application</h3>
          <p>
            Online meetings, chat and shared cloud storage - all in one place.
          </p>
          <a href="">Sign up for free<i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="box">
          <img src="https://i.postimg.cc/7LRP53bM/bn1.png" alt="" />
          <h3>Indium Mobile application</h3>
          <p>
            Online meetings, chat and shared cloud storage - all in one place.
          </p>
          <a href="">Sign up for free<i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </section>

    <section id="follow" class="follow">
      <!-- <p>Follow Microsoft</p> -->
      <a href="">
        <img src="images/fb.png" alt="" />
      </a>
      <a href="">
        <img src="images/tweet.png" alt="" />
      </a>
      <a href="">
        <img src="images/linked.png" alt="" />
      </a>
    </section>
  </div>

  <mat-toolbar
    color="primary"
    style="justify-content: flex-end; height: 30px; padding: 0 16px"
  >
    <span style="font-size: 14px; color: white">
      &copy; {{ currentYear }} Indium Software. All rights reserved.
    </span>
  </mat-toolbar>

  <!-- <section class="links">
    <div class="inner-links"> -->
  <!-- <ul>
        <li>
          <h3>Indium Store</h3>
        </li>
        <li><a href="">Account Profile</a></li>
        <li><a href="">Download Center</a></li>
        <li><a href="">Returns</a></li>
        <li><a href="">Order Tracking</a></li>
      </ul> -->
  <!-- <ul>
        <li>
          <h3>Education</h3>
        </li>
        <li><a href="">Microsoft in Education</a></li>
        <li><a href="">Devices for Education</a></li>
        <li><a href="">Microsoft Teams for Education</a></li>
        <li><a href="">Microsoft 365 Education</a></li>
        <li><a href="">Office Education</a></li>
        <li><a href="">Educator training and development</a></li>
        <li><a href="">Deals for students and parents</a></li>
        <li><a href="">Azure for students</a></li>
      </ul> -->
  <!-- <ul>
        <li>
          <h3>Business</h3>
        </li>
        <li><a href="">Indium cloud</a></li>
        <li><a href="">Indium security</a></li>
        <li><a href="">Azure</a></li>
        <li><a href="">Dynamics 365</a></li>
        <li><a href="">Office 365</a></li>
        <li><a href="">Indium advertising</a></li>
        <li><a href="">Indium industry</a></li>
        <li><a href="">Microsoft Teams</a></li>
      </ul> -->
  <!-- <ul>
        <li>
          <h3>Developer & IT</h3>
        </li>
        <li><a href="">Developer center</a></li>
        <li><a href="">Documentation</a></li>
        <li><a href="">Microsoft Learn</a></li>
        <li><a href="">Order Tracking</a></li>
        <li><a href="">Microsoft tech community</a></li>
        <li><a href="">Azure marketplace</a></li>
        <li><a href="">App source</a></li>
        <li><a href="">Visual Studio</a></li>
      </ul> -->
  <!-- <ul>
        <li>
          <h3>Company</h3>
        </li>
        <li><a href="">Careers</a></li>
        <li><a href="">About Indium</a></li>
        <li><a href="">Company news</a></li>
        <li><a href="">Privacy at Microsoft</a></li>
        <li><a href="">Investors</a></li>
        <li><a href="">Diversity and inclusion</a></li>
        <li><a href="">Accessibility</a></li>
      </ul> -->
  <!-- </div>
  </section> -->
</body>
