<app-navbar></app-navbar>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke !important;
    border-radius: 8px;
    padding: 10px;
  "
>
  <form
    [formGroup]="form"
    style="
      max-width: 800px;
      width: 100%;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    "
  >
    @if (isEditMode) {
    <h2 style="text-align: center; margin-bottom: 20px">
      Editing a Application
    </h2>
    }@else {
    <h2 style="text-align: center; margin-bottom: 20px">Application View</h2>
    }
  <div style="margin-bottom: 9px">
  <label
    for="applicationName"
    style="
      display: block;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 15px;
    "
  >
    Application Name *
  </label>
  <input
    id="applicationName"
    type="text"
    formControlName="applicationName"
    autocomplete="off"
    style="
      width: 98%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 35px;
      background-color: #f5f5f5;
      color: #999;
      height: 25px;
      cursor: not-allowed;
    "
    readonly
  />
</div>

    <div style="margin-bottom: 9px">
      <label
        for="applicationDescription"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >App Description *</label
      >
      <input
        id="applicationDescription"
        type="text"
        formControlName="applicationDescription"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #ECEBDE;
          color: black;
          height: 25px;
        "
      />
    </div>

    <div style="margin-bottom: 9px">
      @if (isEditMode) {
      <label
        for="imageUrl"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Image Url (Upload an Image of Size within 1MB) *</label
      >}@else {
      <label
        for="imageUrl"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Image Preview</label
      >}
    
      <div style="display: flex; gap: 20px; align-items: center">
        @if (isEditMode) {
        <input
          id="imageUrl"
          type="file"
          (change)="onFileSelected($event)"
          style="
            width: 80%;
            padding: 8px;
            border: 1px solid black;
            border-radius: 4px;
            background-color: #ECEBDE;
            color: black;
            height: 25px;
          "
        />
        <button
          type="button"
          [disabled]="!isSaveEnabled"
          (click)="onImageUpload()"
          [ngStyle]="{
            backgroundColor: isSaveEnabled ? '#278EF1' : '#d3d3d3',
            cursor: isSaveEnabled ? 'pointer' : 'not-allowed',
            color: isSaveEnabled ? 'black' : '#a9a9a9'
          }"
          style="
            width: 100px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            border: 1px solid black;
            font-weight: 700;
          "
        >
          Save
        </button>
        }
      </div>
      @if (fileSizeError) {
      <div style="color: red; margin-top: 5px">
        File size should be within 1MB.
      </div>
      }
      @if (imagePreviewUrl) {
      <div
        style="
          height: 200px;
          width: 95%;
          background-color: #f4f7fa;
          margin-top: 20px;
          border-radius: 12px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 20px;
        "
      >
        <p
          style="
            font-size: 16px;
            font-weight: 500;
            color: #5a5a5a;
            margin-bottom: 15px;
          "
        >
          Image Preview
        </p>
        <img
          [src]="imagePreviewUrl"
          alt="Please choose the image"
          style="
            max-width: 100%;
            max-height: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            object-fit: contain;
          "
        />
      </div>
      }
    </div>
    
    <div style="margin-bottom: 9px">
      <label
        for="appUrl"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >App Url *</label
      >
      <input
        id="appUrl"
        type="text"
        formControlName="appUrl"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #ECEBDE;
          color: black;
          height: 25px;
        "
      />
      @if(form.get('appUrl')?.invalid && (form.get('appUrl')?.dirty ||
      form.get('appUrl')?.touched)){
      <div style="color: red; margin-top: 5px">
        @if(form.get('appUrl')?.errors?.['invalidUrl']){ Please enter a valid
        URL. }
      </div>
      }
    </div>
    <div style="margin-bottom: 9px">
      <label
        for="demoUrl"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Demo Url *</label
      >
      <input
        id="demoUrl"
        type="text"
        formControlName="demoUrl"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #ECEBDE;
          color: black;
          height: 25px;
        "
      />
      @if(form.get('demoUrl')?.invalid && (form.get('demoUrl')?.dirty ||
      form.get('demoUrl')?.touched)){
      <div style="color: red; margin-top: 5px">
        @if(form.get('demoUrl')?.errors?.['invalidUrl']){ Please enter a valid
        URL. }
      </div>
      }
    </div>

    <div style="display: flex; gap: 10px; margin-bottom: 9px">
      <div style="flex: 1">
        <label
          for="accessibleDivisions"
          style="
            display: block;
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 15px;
          "
          >Accessible Divisions *</label
        >
        <mat-form-field
          appearance="fill"
          style="width: 100%"
          class="mat-select-container"
        >
          <mat-select
          panelClass="custom-dropdown-panel"

            [formControl]="form.controls.accessibleDivisions"
            (selectionChange)="onDivisionChange($event)"
            style="width: 100%"
          >
            @for (division of divisions; track division) {
            <mat-option
              [value]="division"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              {{ division }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div style="flex: 1">
        <label
          for="accessibleDepartments"
          style="
            display: block;
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 15px;
          "
          >Accessible Departments *</label
        >
        <mat-form-field
          appearance="fill"
          style="width: 100%"
          class="mat-select-container"
        >
          <mat-select
          panelClass="custom-dropdown-panel"

            [formControl]="form.controls.accessibleDepartments"
            (selectionChange)="onDepartmentsChange($event)"
            style="width: 100%"
          >
            @for (dept of departments; track dept) {
            <mat-option
              [value]="dept"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              {{ dept }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div style="margin-bottom: 9px">
      <label
        for="appSecret"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >App Secret *</label
      >
      <input
        id="appSecret"
        type="text"
        formControlName="appSecret"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #ECEBDE;
          color: black;
          height: 25px;
        "
      />
      @if(form.get('appSecret')?.invalid && (form.get('appSecret')?.dirty ||
      form.get('appSecret')?.touched)){
      <div style="color: red; margin-top: 5px">Demo Url field is required.</div>
      }
    </div>
    <div style="margin-bottom: 9px">
      <label
        for="appDevTeam"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >App Developers Team *</label
      >
      <input
        id="appDevTeam"
        type="text"
        formControlName="appDevTeam"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #ECEBDE;
          color: black;
          height: 25px;
        "
      />
      @if(form.get('appDevTeam')?.invalid && (form.get('appDevTeam')?.dirty ||
      form.get('appDevTeam')?.touched)){
      <div style="color: red; margin-top: 5px">Demo Url field is required.</div>
      }
    </div>

    <div style="margin-bottom: 9px">
      <label
        for="bandLevel"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Band Level *</label
      >
      <mat-form-field
        appearance="fill"
        style="width: 100%"
        class="mat-select-container"
      >
        <mat-select [formControl]="form.controls.bandLevel" style="width: 100%">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="margin-bottom: 9px">
      <label
        for="documentationUrl"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Documentation URL *</label
      >
      <input
        id="documentationUrl"
        type="text"
        formControlName="documentationUrl"
        autocomplete="off"
        style="
          width: 98%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 25px;
          background-color:#ECEBDE;
          color: black;
        "
      />
      @if(form.get('documentationUrl')?.invalid &&
      (form.get('documentationUrl')?.dirty ||
      form.get('documentationUrl')?.touched)){
      <div style="color: red; margin-top: 5px">
        @if(form.get('documentationUrl')?.errors?.['invalidUrl']){ Please enter
        a valid URL. }
      </div>
      }
    </div>

    <div
      style="
        margin-bottom: 9px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
      "
    >
      <label
        for="applicationStatus"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Status of Application *</label
      >
      <mat-slide-toggle
        [formControl]="form.controls.applicationStatus"
        (change)="onStatusChange($event)"
        style="margin-left: 10px"
      >
        {{ form.controls.applicationStatus.value ? "Active" : "Inactive" }}
      </mat-slide-toggle>
    </div>
    @if (isEditMode) {
    <div
      style="
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
      "
    >
      <!-- <button
        type="submit"
        style="
          width: 150px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #faf1e4;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          border: 1px solid black;
          cursor: pointer;
          color: black;
          font-weight: 700;
        "
      >
        Save All
      </button> -->
      <button
      type="submit"
      [disabled]="form.invalid"
      [ngStyle]="{
        backgroundColor: form.invalid ? '#d3d3d3' : '#024CAA',
        cursor: form.invalid ? 'not-allowed' : 'pointer',
        color: form.invalid ? '#a9a9a9' : 'white'
      }"
      style="
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        border: 1px solid black;
        font-weight: 700;
      "
      (click)="onSubmit()"
    >
      Submit
    </button>
    
    </div>
    }
  </form>
</div>
