<app-navbar></app-navbar>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke !important;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
  "
>
  <form
    [formGroup]="form"
    style="
      max-width: 600px;
      width: 100%;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    "
  >
    <h2 style="text-align: center; margin-bottom: 20px">
      Add a New Application to our Organization
    </h2>

    <div style="margin-bottom: 9px">
      <label
        for="applicationName"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Application Name</label
      >
      <input
        id="applicationName"
        type="text"
        formControlName="applicationName"
        required
        autocomplete="off"
        style="
          width: 97%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #cedebd !important;
          color: black;
        "
        value=""
      />
      <div
        *ngIf="
          form.get('applicationName')?.invalid &&
          (form.get('applicationName')?.dirty ||
            form.get('applicationName')?.touched)
        "
        style="color: red; margin-top: 5px"
      >
        Application Name field is required.
      </div>
    </div>

    <!-- <div style="margin-bottom: 9px">
      <label
        for="applicationCategory"
        style="display: block; margin-bottom: 5px; font-weight: 400;"
        >Accessible Categories</label
      >
      <mat-form-field appearance="fill" style="width: 100%" class="mat-select-container">
        <mat-select
          [formControl]="form.controls.accessibleDepartments"
          multiple
          (selectionChange)="onDepartmentsChange($event)"
          style="width: 100%"
        >
          @for (department of departments; track department) {
          <mat-option
            [value]="department"
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ department }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-chip-listbox>
        @for (dept of selectedDepartments; track dept) {
        <mat-chip-option (removed)="removeDepartment(dept)">
          {{ dept }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div> -->
    <!-- <div style="margin-bottom: 9px">
        <label
          for="accessForBandLevel"
          style="display: block; margin-bottom: 5px; font-weight: 400;"
          >Access for Band Level</label
        >
        <div style="display: flex; gap: 10px;">
          <mat-form-field appearance="fill" style="flex: 1;">
            <mat-label>Comparison</mat-label>
            <mat-select
              [formControl]="form.controls.bandComparison"
              style="width: 100%;"
            >
              <mat-option value=">">></mat-option>
              <mat-option value="<"><</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="fill" style="flex: 1;">
            <mat-label>Band Level</mat-label>
            <mat-select
              [formControl]="form.controls.bandLevel"
              style="width: 100%;"
            >
              <mat-option value="b1">B1</mat-option>
              <mat-option value="b2">B2</mat-option>
              <mat-option value="b3">B3</mat-option>
              <mat-option value="b4">B4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

    <div style="margin-bottom: 9px">
      <label
        for="applicationDescription"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Application Description</label
      >
      <input
        id="applicationDescription"
        type="text"
        formControlName="applicationDescription"
        required
        autocomplete="off"
        style="
          width: 97%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          height: 35px;
          background-color: #cedebd;
          color: black;
        "
      />
      <div
        *ngIf="
          form.get('applicationDescription')?.invalid &&
          (form.get('applicationDescription')?.dirty ||
            form.get('applicationDescription')?.touched)
        "
        style="color: red; margin-top: 5px"
      >
        Application Description field is required.
      </div>
    </div>

    <!-- <div style="margin-bottom: 9px;display: flex;flex-direction: column;">
        <label
          for="applicationImage"
          style="display: block; margin-bottom: 5px; font-weight: 400;"
          >Application Image</label
        >
        <input
          id="applicationImage"
          type="file"
          accept="image/*"
          (change)="onFileChange($event)"
          style="
            width: 97%;
            padding: 8px;
            border: 1px solid black;
            border-radius: 4px;
            height: 35px;
            background-color: #CEDEBD;
            color: black;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        />
        @if(form.get('applicationImage')?.invalid &&
        (form.get('applicationImage')?.dirty ||
        form.get('applicationImage')?.touched)){
        <div style="color: red; margin-top: 5px">
          Application Image field is required.
        </div>
        }
      </div> -->

    <!-- <div style="margin-bottom: 9px">
      <label
        for="applicationDescription"
        style="display: block; margin-bottom: 5px; font-weight: 400;"
        >Application Description</label
      >
      <textarea
        id="applicationDescription"
        formControlName="applicationDescription"
        style="
          width: 97%;
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          resize: vertical;
          background-color: #CEDEBD;
          color: black;
        "
      ></textarea>
      @if(form.get('applicationDescription')?.invalid &&
      (form.get('applicationDescription')?.dirty ||
      form.get('applicationDescription')?.touched)){
      <div style="color: red; margin-top: 5px">
        Application Description field is required.
      </div>
      }
    </div> -->

    <div style="margin-bottom: 9px">
      <label
        for="accessibleDepartments"
        style="
          display: block;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 15px;
        "
        >Accessible Departments</label
      >
      <mat-form-field
        appearance="fill"
        style="width: 100%"
        class="mat-select-container"
      >
        <mat-select
          [formControl]="form.controls.accessibleDepartments"
          (selectionChange)="onDepartmentsChange($event)"
          style="width: 100%"
          required
        >
          @for (department of departments; track department) {
          <mat-option
            [value]="department"
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ department }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div
      style="
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
      "
    >
      <button
        type="submit"
        style="
          width: 150px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #faf1e4;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          border: 1px solid black;
          cursor: pointer;
          color: black;
          font-weight: 700;
        "
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
    <div
      *ngIf="errorMessage()"
      style="margin-top: 10px; text-align: center; color: red; font-size: 14px"
    >
      {{ errorMessage() }}
    </div>
  </form>
</div>
