.mat-mdc-text-field-wrapper.mdc-text-field--filled {
  background-color: #ECEBDE !important;
  border: 1px solid black;
}

.mat-mdc-select-value {
  color: black !important;
}

.mat-mdc-option {
  color: black !important;
}

.mat-mdc-option.mat-selected {
  color: black !important;
}

.mat-mdc-select-panel {
  background-color: #ECEBDE !important;
}

.mat-mdc-option.mat-selected:not(.mat-option-disabled) {
  color: black !important;
}

.mat-mdc-select-trigger {
  color: black;
}

.mat-mdc-select-placeholder {
  color: black !important;
}
::-webkit-file-upload-button {
  background-color: "#CEDEBD";
}
.custom-dropdown-panel {
  position: absolute !important;
  top: 100% !important; 
  margin-top: 4px; 
  transform: none !important;
  width: 100% !important; 
}
