.mat-mdc-text-field-wrapper.mdc-text-field--filled {
    background-color: #687ae8 !important;
    border: 1px solid black;
  }
  
  .mat-mdc-select-value {
    color: black !important;
  }
  
  .mat-mdc-option {
    color: black !important;
  }
  
  .mat-mdc-option.mat-selected {
    color: black !important;
  }
  
  .mat-mdc-select-panel {
    background-color: #687ae8 !important;
  }
  
  .mat-mdc-option.mat-selected:not(.mat-option-disabled) {
    color: black !important;
  }
  
  .mat-mdc-select-trigger {
    color: black;
  }
  
  .mat-mdc-select-placeholder {
    color: black !important;
  }
  ::-webkit-file-upload-button{
    background-color:'#687ae8' ;
  }